@model _net_integrador.Models.TipoInmueble

@{
    ViewData["Title"] = "Nuevo Tipo de Inmueble";
}
    <a asp-action="Index" asp-controller="TipoInmueble" class="btn btn-secondary">Volver</a>

<h2>Agregar Tipo de Inmueble</h2>

<form asp-action="Agregar" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.tipo)
        @Html.TextBoxFor(m => m.tipo, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>